.top h2 {
  text-align: left;
}
.top__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  margin-top: 32px;
}
.top__item {
  border-radius: 12px;
  background: var(--white-cl);
  box-shadow: var(--box-shadown-1);
  padding: 16px;
}
.top__img {
  margin-bottom: 20px;
}
.top__name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}
.top__total {
  /* font-family: Figtree; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

@media screen and (max-width: 767.98px) {
  .top h2 {
    text-align: center;
  }
  .top__list {
    gap: 15px;
  }
}
