.chose__wrap {
  border-radius: 16px;
  background: var(--white-cl);
  box-shadow: var(--box-shadown-1);
  padding: 32px;
  display: flex;
  gap: 80px;
  background-image: url('../../../assets/imgs/chose-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chose__title {
  text-align: left;
}

.chose__residential {
  margin-top: 16px;
}
.chose__text {
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}
.chose__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  margin-top: 8px;
  color: var(--gray-cl);
}
.chose__userCase {
  margin-top: 32px;
}
.tertiary__cl {
  color: var(--tertiary-cl);
}
.chose__userCase__list {
  margin-top: 16px;
  display: flex;
  gap: 32px;
}
.chose__userCase__row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.chose__userCase__item {
  display: flex;
  align-items: center;
  gap: 4px;
}
.chose__userCase__item p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}
.chose__left {
  width: 100%;
}
.chose__right {
  width: 384px;
  border-radius: 16px;
  border: 2px solid var(--tertiary-cl);
  background: var(--white-cl);
  flex-shrink: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.chose__right__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.chose__right__item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.chose__right__item p span.text__gradient__tertiary {
  background: var(--gradient-cl-tertiary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.64px;
}
.chose__right__item p span.text__gradient__secondary {
  background: var(--gradient-cl-secondary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.64px;
}
.chose__right__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chose__right__head p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}
.chose__right__price {
  display: flex;
  align-items: center;
  gap: 4px;
}
.chose__right__price p {
  font-family: 'Inria Sans';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  display: inline-block;
}
.chose__right__price span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}
@media screen and (max-width: 1023.98px) {
  .chose__wrap {
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;
  }
  .chose__right {
    width: 100%;
  }
}
